.main-nav{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 15rem;
  background-color: #F5F5F5 ;
}
.link, .link:visited, .logo-link, .profile-link{
  text-decoration: none;
  color: #007BFF;
}

.active{
  color: #00C853 !important;
  text-decoration: underline;
}
.link:hover, .link:active{
  color: #00C853 ;
  text-decoration: underline;
}
.logo{
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 3.2rem;
  color: #007BFF;
}
.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.nav-link,.profile-link{
  font-size: 1.8rem;
}
